/*@font-face {*/
/*  font-family: "iconfont"; !* Project id 2550862 *!*/
/*  src: url('iconfont.woff2?t=1621165809007') format('woff2'),*/
/*       url('iconfont.woff?t=1621165809007') format('woff'),*/
/*       url('iconfont.ttf?t=1621165809007') format('truetype');*/
/*}*/
@font-face {
  font-family: 'iconfont';  /* Project id 2668758 */
  src: url('//at.alicdn.com/t/font_2668758_psw7iqz6dmj.woff2?t=1626873204695') format('woff2'),
       url('//at.alicdn.com/t/font_2668758_psw7iqz6dmj.woff?t=1626873204695') format('woff'),
       url('//at.alicdn.com/t/font_2668758_psw7iqz6dmj.ttf?t=1626873204695') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*.icon-icon_Link_Last:before {*/
/*  content: "\e61e";*/
/*}*/

/*.icon-icon_sina_weibo:before {*/
/*  content: "\e61f";*/
/*}*/

/*.icon-icon_wechat:before {*/
/*  content: "\e620";*/
/*}*/

