
@mainColor: #1A82FF;
@mainColor1: #328FFF;

@white: #fff;
@white2: #F7F7F7;

@blackColor: #03101F;
@blackColor2: #474747;


@bgColor: #1A2234;


@fontColor: #03101F;
@fontColor2: #474747;
@fontColor3: #A6AAB1;
